@import "~bootstrap/scss/bootstrap";
@import 'primeicons/primeicons.css';

body {
    background-color: rgb(221, 241, 250);
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    padding: 1rem 2rem;
    box-shadow: #c1bcff85 1px 1px 20px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
}


p.logo {
    letter-spacing: 1px;
    margin: 0;
    font-weight: bold;
    font-family: fantasy;
    color: #401ae4;
}

nav {
    display: flex;
    gap: 1em;
    flex: auto;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #150f69;
    transition: .3s;
}
.profile-links {
    display: flex;
    gap: 1em;
}
.profile-links a {
    color: var(--bs-secondary);
    transition: color .3s;
}
.profile-links a:hover {
    color: var(--bs-blue);
}

main {
    padding: 1rem 2rem;
}

.text-truncate-with-dots {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.cart-status {
    position: absolute;
    padding: .25em .5em;
    background: var(--bs-teal);
    color: #fff;
    border-radius: 10px;
    top: 0px;
    margin-top: -12px;
    right: .75em;
}

.cart-status_buy {
    background: var(--bs-red);
}

.cart-status_rent {
    background: var(--bs-orange);
}