<form method="post" action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Вы хотите удалить этот кусочек знаний?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>
